* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #d9dcd6;
  }

  /* HEADER Styles Start */

header {
    padding: 20px 35px;
    background-color: #9dbcbc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

.project-links {
    color: darkkhaki;
}
  

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #5e5e5e;
  }
  
  header a {
    text-decoration: none;
    color: #6b6b6b;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    background: #6b6b6b;
    color: #fff5bb;
  }

  /* HEADER  STYLES End */

  /* HERO STYLES START */
.hero {
    background-image: url(/Assets/Images_Docs/flvMB4V.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  } 

.hero-sub {
    text-align: Center;
    margin: 5%;
    color: black;
    font-size: 32px;
    line-height: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }
   /* HERO STYLES End */

   /* SECTION TITLE STYLE START */
.section-title {
    font-size: 40px;
    color: black;
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: left;
    margin: 20px 15px 0px 15px;
    width: 50%;
  }
  /* SECTION TITLE STYLE END */

    /* About Me STYLE START */
  .overview p {
    line-height: 1.7;
    color: black;
    width: 65%;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    float: inline-end;
  }

  .headshot {
    float: left;
    margin-left: 25px;
    max-width: 300px;
    max-height: 300px;
    border: black 2px solid;
}
/* About Me STYLE end */


/* project section styling start*/

.parks {
  color: darkorange;
  background-image: url(/Assets/Images_Docs/park_ranger.PNG);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: absolute;
  height: 240px;
  font-size: 38px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 150px 100px 100px 100px;
}

.heromaps {
  color: darkorange;
  background-image: url(/Assets/Images_Docs/Heromaps.PNG);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: absolute;
  height: 210px;
  font-size: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 120px 120px 120px 120px;
}

.runbud {
    color: darkorange;
    background-image: url(/Assets/Images_Docs/run_buddy.PNG);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: absolute;
    height: 180px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 80px 80px 80px 80px;
}
.roboglad {
    color: darkorange;
    background-image: url(/Assets/Images_Docs/robo_glad.PNG);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: absolute;
    height: 150px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 50px 50px 50px 50px;
}

/* project section styling end*/


/* resume section style start */
.resume {
    border: 1px solid #000000;
    display: block;
    padding: 5px 5px;
    font-size: 20px;
    color: #9dbcbc;
    width: 19%;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
}
.resume:hover {
    background:#9dbcbc;
  }
  /* resume section style end */

  /* contact me section style start */
  .contact-info {
    font-size: 28px;
    color: cornflowerblue;
    padding-left: 20px;
  }

  footer {
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: darkgreen;
  }
  /* contact me section style end */